<a href="https://colab.research.google.com/github/rsousadev/DataScienceIntro/blob/master/Python_Data_Science_Numpy.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Relátorio de Análise

## importando dados

In [0]:
import pandas as pd

In [0]:
dados = pd.read_csv('aluguel.csv', sep=';')

In [14]:
dados.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32960 entries, 0 to 32959
Data columns (total 9 columns):
Tipo          32960 non-null object
Bairro        32960 non-null object
Quartos       32960 non-null int64
Vagas         32960 non-null int64
Suites        32960 non-null int64
Area          32960 non-null int64
Valor         32943 non-null float64
Condominio    28867 non-null float64
IPTU          22723 non-null float64
dtypes: float64(3), int64(4), object(2)
memory usage: 2.3+ MB

In [16]:
dados.head(10)

                      Tipo           Bairro  ...  Condominio    IPTU
0                Quitinete       Copacabana  ...       500.0    60.0
1                     Casa  Jardim Botânico  ...         NaN     NaN
2  Conjunto Comercial/Sala  Barra da Tijuca  ...      4020.0  1111.0
3              Apartamento           Centro  ...       390.0    20.0
4              Apartamento     Higienópolis  ...       230.0     NaN
5              Apartamento     Vista Alegre  ...         NaN     NaN
6              Apartamento         Cachambi  ...       301.0    17.0
7       Casa de Condomínio  Barra da Tijuca  ...         NaN     NaN
8       Casa de Condomínio            Ramos  ...         NaN     NaN
9  Conjunto Comercial/Sala           Centro  ...     19193.0  3030.0

[10 rows x 9 columns]

## informações gerais sobre os dados

In [18]:
dados.dtypes

Tipo           object
Bairro         object
Quartos         int64
Vagas           int64
Suites          int64
Area            int64
Valor         float64
Condominio    float64
IPTU          float64
dtype: object

In [0]:
tipos_de_dados = pd.DataFrame(dados.dtypes, columns=['Tipos de dados'])

In [0]:
tipos_de_dados.columns.name = 'Variáveis'

In [27]:
tipos_de_dados

Variáveis  Tipos de dados
Tipo               object
Bairro             object
Quartos             int64
Vagas               int64
Suites              int64
Area                int64
Valor             float64
Condominio        float64
IPTU              float64

In [29]:
dados.shape

(32960, 9)

In [30]:
dados.shape[0]

32960

In [31]:
dados.shape[1]

9

In [36]:
print('Os Dados apresenta {} registros (imóveis) e {} variáveis'.format(dados.shape[0], dados.shape[1]))

Os Dados apresenta 32960 registros (imóveis) e 9 variáveis

In [0]:
json = open('aluguel.json')

In [0]:
df_json = pd.read_json('aluguel.json')

In [40]:
df_json

                      Tipo           Bairro  Quartos  ...  Valor  Condominio    IPTU
0                Quitinete       Copacabana        1  ...   1700       500.0    60.0
1                     Casa  Jardim Botânico        2  ...   7000         NaN     NaN
2  Conjunto Comercial/Sala  Barra da Tijuca        0  ...   5200      4020.0  1111.0
3              Apartamento           Centro        1  ...    800       390.0    20.0
4              Apartamento     Higienópolis        1  ...    800       230.0     NaN
5              Apartamento     Vista Alegre        3  ...   1200         NaN     NaN
6              Apartamento         Cachambi        2  ...   1300       301.0    17.0
7       Casa de Condomínio  Barra da Tijuca        5  ...  22000         NaN     NaN
8       Casa de Condomínio            Ramos        2  ...   1000         NaN     NaN
9  Conjunto Comercial/Sala           Centro        0  ...  35000     19193.0  3030.0

[10 rows x 9 columns]

In [41]:
txt = open('aluguel.txt')
df_txt = pd.read_table('aluguel.txt')
df_txt

                      Tipo           Bairro  Quartos  ...  Valor  Condominio    IPTU
0                Quitinete       Copacabana        1  ...   1700       500.0    60.0
1                     Casa  Jardim Botânico        2  ...   7000         NaN     NaN
2  Conjunto Comercial/Sala  Barra da Tijuca        0  ...   5200      4020.0  1111.0
3              Apartamento           Centro        1  ...    800       390.0    20.0
4              Apartamento     Higienópolis        1  ...    800       230.0     NaN
5              Apartamento     Vista Alegre        3  ...   1200         NaN     NaN
6              Apartamento         Cachambi        2  ...   1300       301.0    17.0
7       Casa de Condomínio  Barra da Tijuca        5  ...  22000         NaN     NaN
8       Casa de Condomínio            Ramos        2  ...   1000         NaN     NaN
9  Conjunto Comercial/Sala           Centro        0  ...  35000     19193.0  3030.0

[10 rows x 9 columns]

In [42]:
df_xlsx = pd.read_excel('aluguel.xlsx')
df_xlsx

                      Tipo           Bairro  Quartos  ...  Valor  Condominio    IPTU
0                Quitinete       Copacabana        1  ...   1700       500.0    60.0
1                     Casa  Jardim Botânico        2  ...   7000         NaN     NaN
2  Conjunto Comercial/Sala  Barra da Tijuca        0  ...   5200      4020.0  1111.0
3              Apartamento           Centro        1  ...    800       390.0    20.0
4              Apartamento     Higienópolis        1  ...    800       230.0     NaN
5              Apartamento     Vista Alegre        3  ...   1200         NaN     NaN
6              Apartamento         Cachambi        2  ...   1300       301.0    17.0
7       Casa de Condomínio  Barra da Tijuca        5  ...  22000         NaN     NaN
8       Casa de Condomínio            Ramos        2  ...   1000         NaN     NaN
9  Conjunto Comercial/Sala           Centro        0  ...  35000     19193.0  3030.0

[10 rows x 9 columns]

In [45]:
df_html = pd.read_html('dados_html_1.html')
df_html[0]

  FAIXA ETÁRIA UNAFISCO SAÚDE SOFT II SOFT PARTICIPATIVO      UNIQUE
0      00 A 18               R$218,99           R$192,60    R$334,48
1      19 A 23               R$263,63           R$207,67    R$380,06
2      24 A 28               R$322,44           R$224,26    R$464,39
3      29 A 33               R$402,05           R$258,63    R$566,68
4      34 A 38               R$455,17           R$306,37    R$664,61
5      39 A 43               R$489,29           R$417,93    R$742,72
6      44 A 48               R$582,65           R$495,24    R$869,47
7      49 A 53               R$718,86           R$562,64  R$1.046,29
8      54 A 58               R$908,54           R$721,00  R$1.355,74
9   59 OU MAIS             R$1.244,50         R$1.151,62  R$2.003,53

In [0]:
df_html_ibge = pd.read_html('https://sidra.ibge.gov.br/pesquisa/pia-produto/quadros/brasil/2017',  encoding='utf8')

In [64]:
len(df_html_ibge)

2

In [65]:
df_html_ibge[0]

    PIA Produto - Produção e vendas dos produtos e/ou serviços industriais  ...
                                                             Brasil - 2017  ...
                                         Classes de Atividades Industriais  ... Valor das vendas (Mil Reais)
0                                          0000 Brasil                      ...                2 304 912 151
1                      0500 Extração de carvão mineral                      ...                      960 295
2              0600 Extração de petróleo e gás natural                      ...                   74 253 238
3                    0710 Extração de minério de ferro                      ...                   71 370 204
4                 0721 Extração de minério de alumínio                      ...                    2 985 085
..                                                 ...                      ...                          ...
271         3317 Manutenção e reparação de embarcações                      ...                      860 932
272  3319 Manutenção e reparação de equipamentos e ...                      ...                      246 208
273  3321 Instalação de máquinas e equipamentos ind...                      ...                    1 566 361
274  3329 Instalação de equipamentos não especifica...                      ...                      259 314
275  Fonte: IBGE - Pesquisa Industrial Anual - Prod...                      ...                          NaN

[276 rows x 4 columns]